html
	head 
		title Comentarios
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet")
	body(class="container")
		block contenido

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js")
		script(src="https://unpkg.com/popper.js/dist/")
